h1 {
  margin-bottom: var(--spacing-xl);
  font-size: var(--spacing-3xl);
}

h2 {
  margin-bottom: var(--spacing-lg);
  font-size: var(--spacing-2xl);

  @media (max-width: 639px) {
    font-size: var(--spacing-xl);
  }
}

h3 {
  margin-bottom: var(--spacing-md);
  font-size: var(--spacing-xl);

  @media (max-width: 639px) {
    font-size: var(--spacing-lg);
  }
}

h4 {
  margin-bottom: var(--spacing-sm);
  font-size: var(--spacing-lg);
}

h5 {
  margin-bottom: var(--spacing-xs);
  font-size: var(--spacing-lg);
}

h6 {
  margin-bottom: var(--spacing-2xs);
  font-size: var(--spacing-lg);
}
